@{
    ViewData["Title"] = "Home Page";
}

 <div class="container">

     <div class="main_image">
         <div class="my_image">
             <img src="~/Images/Hero BG.png"/>
         </div>
          <div class="banner-text">
                <h1>Renting cars have 
                never been this easy</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel recusandae aspernatur dolores repellat </p>
            </div>
     </div>

        <div class="background_image">
 
            <div class="sub_container">
            
                <div class="mydiv">
                    <p>PICK UP LOCATION</p>
                    <select name="" id="">
                        <option value="">Select a Location</option>
                    </select>
                </div>

                <div class="mydiv">
                    <p>PICK UP DATE</p>
                    <select name="" id=""><option value="">Select Date</option></select>
                </div>

                <div class="mydiv">
                    <p>RETURN DATE</p>
                    <select name="" id=""><option value="">Select Date</option></select>         
                </div> 
                <button>Search For Cars</button>
            </div>

        </div> 

        <div class="sub_container1">
            <img src="~/Images/Trusted By Section.png" />

        </div>

        <div class="sub_container2">
            <h5>Our Featured Cars</h5>
        </div>

        <div class="navigator">
            <button><</button>
            <button>></button>
        </div>

        <div class="sub_container3">

            <div class="cars">
                <div class="car">

                    <img class="carimg" src="Images/Car Image (1).png" alt="">
                </div>

                <div class="p1">
                    <h4>Toyota Corolla T-20</h4>
                </div>

                <div class="sub_car">
                    <p>
                         <img src="Images/4436481.png" alt="">
                          <span>Air Conditioned</span>
                    </p>
                <p>
                    <img src="Images/4436481.png" alt="">
                     <span>Bluetooth Sound System</span>
                </p>
                <p>
                    <img src="Images/4436481.png" alt="">
                     <span>Sunroof Available</span>
                </p>
                <button>Rent Now</button>
              </div>  
            </div>
            
            <div class="cars">
                <div class="car">
                    <img class="carimg" src="Images/Car Image (2).png" alt="">
                </div>

                <div class="p1">
                    <h4>Toyota Corolla T-20</h4>
            </div>

            <div class="sub_car">
                <p>
                    <img src="Images/4436481.png" alt="">
                    <span>Air Conditioned</span>
                </p>
            <p>
                <img src="Images/4436481.png" alt="">
                <span>Bluetooth Sound System</span>
            </p>
            <p>
                <img src="Images/4436481.png" alt="">
                <span>Sunroof Available</span>
            </p>   
            <button>Rent Now</button>
          </div> 
            </div>

            <div class="cars">
                <div class="car">
                    <img class="carimg" src="Images/Car Image (3).png" alt="">
                </div>

                <div class="p1">
                    <h4>Toyota Corolla T-20</h4>
                </div>  
                <div class="sub_car">
                    <p>
                        <img src="Images/4436481.png" alt="">
                         <span>Air Conditioned</span>
                    </p>
                <p>
                    <img src="Images/4436481.png" alt="">
                    <span>Bluetooth Sound System</span>
                </p>
                <p>
                     <img src="Images/4436481.png" alt="">
                    <span>Sunroof Available</span>
                </p>
                <button>Rent Now</button>
              </div>              
                </div>

            </div>

            <div class="sub_container4">

                <div class="paragraph">
                    <h6>Why We Are Differnt</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisic<br /> mlit Rem vel redae aspernatur dolores</p>
                </div>

                <div class="sub_container5">

                    <div class="easy_booking">
                        <div>
                            <img src="~/Images/Vector (7).png"/>
                        </div>
                        <div>
                            <div>
                                 <h1>Easy Booking</h1>
                            </div>         
                            <p>Amet minim mollit non deserunt ullamco estsit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                        </div>
                    </div>

                    <div class="easy_booking">
                        <div>
                            <img src="~/Images/Shield.png"/>
                        </div>
                         <div>
                             <div>
                                 <h1>Secure Payments</h1>
                            </div>        
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                        </div>

                    </div>

                    <div class="easy_booking">
                        <div>
                            <img src="~/Images/Vector (8).png"/>
                        </div>
                         <div>
                             <div>
                                 <h1>24/7 Tracking</h1>
                            </div>        
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                        </div>

                    </div>

                </div>

            </div>

            <div class="sub_container6">
                <div class="sub_head">
                    <h1>What do people say about us</h1>
                    <p>Amet minim mollit non deserunt ullamco est sit <br/> dolor sint Velit officia consequat.</p>
                </div>

                <div class="sub_testimonial">
                    <div>
                        <img src="~/Images/Testimonial Image.png"/>
                    </div>
                    <div>
                         <img src="~/Images/T Content BG.png"/>
                         <p>
                             “Amet minim mollit non deserunt ullamco consequat<br/>
                             est sit aliqua dolor do amet sint. Velit ullamco<br/>
                             officia consequat duis enim velit mollit estsit.<br/>
                             Exercitation veniam consequat sunt Exercitation<br/>
                             nostrud amet. Amet minim mollit non veniam Amet<br/>
                             deserunt ullamco est sit aliqua dolor  consequat<br/>
                             amet sint. Velit officia consequat duis ullamco<br/>
                             enim velit mollit. Exercitation veniam dolor<br/>
                             officia consequat duis enim velit mollit estsit.<br/>
                             Exercitation veniam consequat sunt Exercitation<br/>
                             nostrud amet. Amet minim mollit non veniam Amet<br/>
                             consequat Exercitation veniam sunt Exercitation<br/>
                             minim nostrud amet. Amet mollit non veniam Amet<br/>
                             officia consequat duis enim velit mollit estsit".<br/>
                             <br/>
                             Anna De’Suza,<br/>
                             CEO at SpaceX<br/>
                         </p>                       
                    </div>
                </div>

            </div>

            <div class="sub_container7">
                <h1>Read Our Stories</h1>
                <div class="container7_image">
                     <div>
                    <img src="~/Images/Blog Image.png"/>
                    <button>Tags</button>
                    <div>
                         <p>Start a blog to reach<br/> your creative peak</p>
                    <p2>Amet minim mollit non deserunt ullamco<br/> est sit aliqua dolor do amet sint. Velit<br/> officia consequat duis enim velit mollit.</p2>
                    </div>
                        <p3>Find Out More</p3>
                </div>

                <div>
                     <img src="~/Images/Blog Image (1).png"/>
                     <button>Tags</button>
                     <div>
                         <p>Starting your traveling<br/> blog with Vasco</p>
                     <p2>Amet minim mollit non deserunt ullamco<br/> est sit aliqua dolor do amet sint. Velit<br/> officia consequat duis enim velit mollit.</p2>
                     </div>
                         <p3>Find Out More</p3>
                </div>
                <div>
                    <img src="~/Images/Blog Image (2).png"/>
                    <button>Tags</button>
                    <div>
                         <p>Caring is the new<br/> marketing</p>
                        <p2>Amet minim mollit deserunt ullamco<br />est sit aliqua dolor amet sint.<br />officia consequat enim velit mollit.</p2>
                    </div>
                        <p3>Find Out More</p3>
                </div>
                </div>

            </div>

            <div class="sub_container8">
                <div class="container8">
                    <h1>Find Your Next Long<br/> Drive Now</h1>
                </div>

                <div class="background">
                <div class="background">
 
            <div class="sub-container">
            
                <div class="mydiv">
                    <p>PICK UP LOCATION</p>
                    <select name="" id="">
                        <option value="">Select a Location</option>
                    </select>
                </div>
                <div class="mydiv">
                    <p>PICK UP DATE</p>
                    <select name="" id=""><option value="">Select Date</option></select>
                </div>

                <div class="mydiv">
                    <p>RETURN DATE</p>
                    <select name="" id=""><option value="">Select Date</option></select>         
                </div> 
                <button>Search For Cars</button>
            </div>

        </div> 
                </div>

            </div>

        </div> 

